<ion-view view-title="Achei!!! Troquei!!!" hide-nav-bar="true">
    <ion-content class="padding" >
       
       <div class="spacer" style="height: 70px;"></div>
       <button style="background-color: rgb(0, 0, 128)" class="button button-positive button-block" ng-click="logar()">LOGIN</button>
       <div class="spacer" style="height: 10px;"></div>
     
       <img src="img/logogif3.gif" id="logo"  />
        
        <div class="spacer" style="height: 10px;"></div>
        <button style="background-color: rgb(0, 0, 128)" class="button button-positive button-block" ng-click="cadastro()">CADASTRE-SE AQUI!!!</button>
           <br>
           <br>
           <br>
           <br>  
           <br>     
          <!-- FOOTER -->
         <footer>
            <center><p>By JSA | &copy; 2017 MT3TEC |  Todos os direitos reservados.</p></center>
         </footer>
    </ion-content>
</ion-view>