<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="padding">        
        <form name="formLogin" ng-submit="login(usuario)">
            <ion-list >
                <div class="spacer" style="height: 50px;"></div>        
                <img src="img/logo1020x656semipreen3.png"  id="logo"  />
                <ion-item class="item-input item-stacked-label" style="border-radius:20px;opacity: 0.7">                    
                    <input type="email" placeholder="Email" ng-model="usuario.email"   required/>                    
                </ion-item>
                <div class="spacer" style="height: 5px;"></div>              
                <ion-item class="item-input item-stacked-label" style="border-radius:20px;opacity: 0.7">
                    <input type="password"  placeholder="Senha" ng-model="usuario.password" ng-minlength="6"  required/>
                </ion-item>
                <div class="spacer" style="height: 5px;"></div>
                <button class="button button-positive button-block" type="submit" ng-disabled="formLogin.$invalid" >Entrar</button>
                <button  type="button" class="button button-assertive button-block" ng-click="voltar()">Cancelar</button>
            </ion-list>
        </form>
    </ion-content>
</ion-view>