<ion-view view-title="Cadastrar Produtos " > 
    <ion-nav-buttons name="BtnLogin" side="right">    
        <button ng-click="retorno()" class='button button-clear '>Voltar</button>
    </ion-nav-buttons>        
    <ion-content class="padding">
        <div class="spacer" style="height: 170px;"></div>
        <center>
            <div >
                <button style=" display: block;width:350px;height: 100px;" class="button button-block button-positive" ng-click="troca()" >Troca</button>
            </div>
            
            <div>
                <button style=" display: block;width:350px;height: 100px;" class="button button-block button-positive" ng-click="venda()">Venda</button>
            </div>
            
            <div>
                <button style=" display: block;width:350px;height: 100px;" class="button button-block button-positive" ng-click="ambos()">Ambos</button>
            </div>
        </center>
    </ion-content>
</ion-view>